* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Roboto', sans-serif;

}

/*Header */
header {
    background-color: #1f2937;
    padding: 16px 200px;

}

/*Navigation */
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.navigation {
    display:flex;
    justify-content: space-between;

}

.navigation ul {
  display:flex;
  gap: 20px;
  list-style-type: none;

}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/*Content part*/

.hero {
    display:flex;
    justify-content: center;
    align-items: center;
    
    padding: 6em 0;
    gap: 40px;
    
}

.hero .left {
    display:flex;
    flex-direction: column;
    gap: 10px;

}

.hero .right {
    flex-shrink: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    
}
.description {
    font-size: 18px;
    color: #E5E7EB;


}


button {
    padding: 7px 16px;
    width: 120px;
    background-color: #3882f6;

}

.hero button {
    border: none;
    color: #F9FAF8;
    font-weight: 500;
    font-size: 18px;

}


.header-image {
    height: 284px;
    width: 426px;

}


/*main*/

main {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 0 13em;
    margin-top: 3em;


}

main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
   
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;


}

.info img {
    width: 160px;
    height: 160px;
    border: 2px solid #3882F6;
}

.info {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 200px;


}

/*Quote*/

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #e5e7eb;
    padding: 7em 13em;

}

.quote p {
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
    align-self: flex-end;
}

.quote em {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

/* Sign up */
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
    

}

.container {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 3em;
    border-radius: 10px;
    flex: 1;

}

strong {
    font-size: 24px;
    color: #FFF;


}

.container button {
    border: 2px solid #FFF;
    width: 120px;
    font-size: 18px;
    color: #F9FAF8;
}

.click {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
}

/*Footer*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color:#FFF;
    padding: 2em 0;
}